extends ../parts/templates/info
block frontmatter
	- var page = {};
	- page.title = '02 React Use Cases'
	- page.back = '01 What Is React'
	- page.next = '03 Project Setup'
block content
	+rowBlockLeft
		h3 Facebook
	+rowBlockRight
		h3 Unsplash