extends ../parts/templates/lesson
block frontmatter
	- var page = {};
	- page.title = '03 Project Setup'
	- page.back = '02 React Use Cases'
	//- - page.next = '03 Project Setup'
block lessonContent
	h3 Create/clone a directory/repository
	p In our case, we should have already cloned the examples repository. 
	p Navigate to the repo's #[code examples] directory.