- 
	var sitepages = [
	{
		title: 'Home',
		url: baseURL
	},
	{
		title: '01 What Is React?',
		url: '01-what-is-react.html'
	},
	{
		title: '02 React Use Cases',
		url: '02-react-use-cases.html'
	},
	{
		title:'03 Project Setup',
		url: '03-project-setup.html'
	}]